.contact-main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    height: fit-content;
    place-items: center;
}

.contact-main p {
    font-size: 2.1em;
    font-weight: 900;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(228, 15, 15);
    margin: auto;
    margin-bottom: 8%;
    padding: 1px;
}

.contact-main img{
    width: 200px;
    margin: auto;
    margin: 5%;
}

@media only screen and (max-width: 980px) {
    .contact-main img{
        width: 40vw;
    }

}