footer {
    display: grid;
    width: 100%;
    height: fit-content;
    background-color: rgb(18, 28, 31);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    place-items: center;
}

footer p {
    font-size: 1em;
    color: aliceblue;
    text-align: center;
}

footer img {
    width: 50px;
    margin: 3px;
}