.brands {
    width: 800px;
    height: fit-content;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-rows: 1fr;
    border: 1px dotted red;
    background-color: rgb(203, 241, 250);
    border-radius: 5px;
    padding: 10px;
}

.brands p {
    font-size: 2.3em;
    font-weight: 900;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 980px) {
    .brands {
        width: 90vw;
    }
}